
footer{
    display: flex;
    flex-direction: column;
  
}
.footer{
    background-color: #3347B0;
    display: flex;
    height: 15vh;
    flex-direction: column;
    justify-content: center;
    
}