main{
    height: 75.6vh;
    display: flex;
    align-items: center;
}
.text-container{
    font-size: 5rem;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    
    
}
.uniao{
    padding-top: 0px;
    display: flex;
    gap: 15px;
    
}
.second{
    color: #3347B0;
    font-weight: 700;
}
.text-devices{
    margin-left: 7vw;
    font-family: 'Roboto', sans-serif;
    
}
.studentdev{
   display: flex;
   flex-direction: column;
}
.student-center{
    height: 45vh;
}
.computerdev{
    height: 20vh;
    padding-top: 50px;
} 
.computer-center{
    height: 36vh;
    padding-top: 59px;
}